* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.btn-grey{
    @include btnGrey;
}

.btn-blu {
    @include btnBlue;
}

h1 {

}

body{
    font-family: 'Montserrat', sans-serif;
    .g-container{
        width: 100vw;


    }
}
