* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn-grey{
    @include btnGrey;
}


body{


    .g-container{
        .g-navbar{
            background-color: $black;
            width: 100%;
            height: 50px;
        }
        .g-row{
            @include clearfix;
            padding-top: 30px;
            padding-bottom: 30px;
            background-color: white;
            width: 100%;
            .g-row-container{

                .g-prod-info{


                    span{

                    }
                    .g-img{
                        @include flexRowCen;
                        img{

                        }
                    }

                    h1{

                    }
                    .g-ul{


                        li{

                        }
                    }
                    button{

                    }
                    .g-jumbo{
                        background-color: #eaeaea;
                        @include p15;

                        img{
                            float: right;
                            width: 60px;
                            height: auto;
                        }

                        button{
                            @include btnBlue;
                        }
                        .g-offer{
                            @include p15;
                            background-color: white;
                        }
                    }
                }
            }
        }
        .g-subnav{
            background-color: $grey;
            height: 50px;
            width: 100%;
        }
        .row2 {
            @include clearfix;
            background-color: $black;
            color: white;
            width: 100%;
            .row2-container{


                h2{

                }
                p{

                }
                .image-video{
                    @include clearfix;
                    position: relative;

                    .border-corel{
                        position: absolute;
                        width: 100%;
                        left:0;

                    }
                    .face-corel{
                        width: 100%;
                        float: left;
                        border-radius: 15px;
                    }

                }
            }
        }
        .row3{
            @include clearfix;
            padding-top: 30px;
            padding-bottom: 30px;
            width: 100%;
            h2{

            }
            p{

            }
            .slider-container{

                width: 100%;
                height: auto;
                position: relative;
                img{
                    width: 100%;
                    top: 0px;
                }

                .after{
                    position: absolute;
                    left: 0;
                    // clip-path: polygon(0 0%, 96% 0%, 96% 100%, 0% 100%);
                }

                .slider {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0px;
                    background-color: rgba(0,0,0,0);
                    z-index:1;

                    // background: #d3d3d3;
                }
                .slider::-moz-range-thumb {
                    width: 2px;
                    height: 100%;
                    background-color: $black;
                    cursor: ew-resize;
                    z-index:1;
                }
            }

        }
    }
}
