@mixin clearfix {
    content: '';
    display: table;
    clear: both;
}

//flex
@mixin flexColCen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flexRowCen {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

//Button
@mixin btnGrey{
    border: 1px solid #cccccc;
    background-color: white;
    color: #333;
    padding: 5px;
    &:hover{
        background-color: darken(white, 20);
    }
}

@mixin btnBlue{
    background-color: #009cff;
    color: white;
    border: none;
    padding:5px;
    &:hover{
        background-color: lighten(#009cff, 20);
    }
}

//padding

@mixin p5{
    padding: 5px;
}
@mixin p10{
    padding: 10px;
}
@mixin p15{
    padding: 15px;
}

@mixin p3030{
    padding-top: 30px;
    padding-bottom: 30px;
}
