.g-navbar{
    background-color: $black;

    .g-nav-container{
        height: 50px;
        display: flex;
        align-items: center;
        .hamburger{
            @include flexColCen;
            justify-content: center;
            width: 42px;
            height: 32px;
            .g-icon-bar{
                width: 22px;
                height: 2px;
                border-radius: 1px;
                margin: 2px;
                background-color: #fff;
            }
        }
    }
}
