.row1{
    @include p3030;
    background-color: white;
    .row1-container{
        .g-prod-info{
            .row1left{
                span{
                }
                .g-img{
                    @include flex(row, center, center);
                    img{
                    }
                }
                h1{
                }
                .g-ul{
                    ul{
                        list-style: none;
                        li{
                        }
                    }

                }
                button{
                }
            }

            .g-jumbo{
                @include flex(column, flex-start, space-between);
                padding-top: 55px;
                padding-bottom: 55px;
                position: relative;
                background-color: #eaeaea;

                span{
                    font-size: 20px;
                }
                img{
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    width: 60px;
                    height: auto;
                }
                button{
                }
                .g-offer{
                    @include p15;
                    background-color: white;
                }
            }
        }
    }
}
