.row1{
    @include p3030;
    background-color: white;
    .row1-container{
        .g-prod-info{
            .row1left{
                span{
                }
                .g-img{
                    @include flexRowCen;
                    img{
                    }
                }
                h1{
                }
                .g-ul{
                    li{
                    }
                }
                button{
                }
            }

            .g-jumbo{
                background-color: #eaeaea;
                @include p15;
                img{
                    float: right;
                    width: 60px;
                    height: auto;
                }
                button{
                }
                .g-offer{
                    @include p15;
                    background-color: white;
                }
            }
        }
    }
}
